@import url(http://fonts.googleapis.com/css?family=Antic+Didone|Coming+Soon);

body{
	font-family: 'Antic Didone',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;	
	color: #74685B;
	line-height: 1.4em;
}

a{
	color: #74685B;
    border-bottom: 1px dotted #74685B;
    text-decoration: none;
}

a:hover{
	color: #e9417d;
}

#wrap{
	margin: 0;
}

header{
	margin:0;
	width: 100%;
	text-align: center;
	padding-bottom: 2rem;
}


nav{
	background:url('../img/back_nav.png');
	z-index: 9999;
	width: 100%;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

nav hr{
	background: url('../img/flower_line.png');
	border:none;
	height: 86px;
	top:15px;
	position: relative;
	width: 100%;
}

nav ul{
	width: 700px;
	margin: auto;
}

nav#menu{
	height: 2em;
	margin:auto;
	text-align: center;
}

nav#menu li{
	width:170px;
	height: 1.5em;
	text-align: center;
	display: inline-block;
	margin-top: 1.5em;
}


#momowasa_mono{
	width:20%;
}

#top{
	min-height: 300px;
	padding-top: 9rem;
	padding-bottom: 9rem;
	background: url('../img/back_stripe.png');
}

#top hr{
	background: url('../img/flower_line.png');
	border:none;
	height: 86px;
	top:-42px;
	position: relative;
}

#top h2{
	font-size: 1.5em;
	margin: 1.5em 0;
}

#top p{
	clear: both;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}


hr{
	margin: 0;
}

h1{
	display: none;
}

footer{
	clear: both;
	text-align: center;
}

footer hr{
	background: url('../img/lace_line_revert.png');
	border:none;
	height: 41px;
	top:-30px;
	position: relative;
}

#about{
	min-height: 750px;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: url('../img/back_dot.png');
	width: 100%;
}

#about hr{
	background: url('../img/flower_line.png');
	border:none;
	height: 86px;
	top:-120px;
	position: relative;
}

#aboutcontent{
	width: 700px;
	margin: auto;
	text-align: center;
}

#aboutcontent h2{
	font-size: 3em;
}

#aboutcontent section{
	text-align: left;
	font-size: 1.2em;
	margin: auto;
}

#aboutcontent p{
	font-size: 85%;
}

#aboutcontent h3{
	text-align: left;
	font-size: 1.3em;

	display: block;
	background: url('../img/li_heart.png');
	background-repeat: no-repeat;
	padding-left: 35px;
	height:25px; 
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	margin-left: 1.3em;

}

#aboutcontent p{
	padding-left: 35px;
}

#Face_of_usa{
	width: 50%;
}

#social{
	margin-top: 2em;
	text-align: center;
}

#social a,#momowasa a{
    text-decoration: none;
    border:none;
}

#social a:hover{
	opacity: 0.7;
}

.pictogram{
	width: 32px;
	margin-right: 1.5em;
}

#product{
	width: 100%;
	background: url('../img/back_check.png');
	padding-bottom: 41px;
}

#product hr{
	background: url('../img/lace_line.png');
	border:none;
	height: 41px;
	top:-10px;
	position: relative;
	margin: 0;
}

#momowasa{
	bottom:-25px;
	right: 50px;
	position: fixed;
	display: none;
}


@media screen and (max-width: 700px) {

	nav ul{
		width: 100%;
	}
	nav hr {
		top: 40px;
	}

	#momowasa_mono {
		width: 50%;
	}

	#aboutcontent{
		width: 100%;
	}

	#momowasa{
		right: 10px;
	}

	.pictogram{
		width: 60px;
		margin-right: 2.5em;
	}
}
